body {
  margin-top: 100px;
  background-color: #FAFAFA;
}

p {
  color: rgba(0,0,0,.5);
}

.ok {
  color: #44AD41; /*green*/
}
.no {
  color: #DE2121; /*vermelho*/
}

.logo{
  height: 30px;
}

.navpers{
  background-color: #FFFF !important;
  border-bottom: 1px solid #d8dbd0;
  padding: 20px 100px 20px 100px;
}

.formpers {
  background-color: #FFFF;
  border: solid 1px #D8DBD0;
  padding: 20px;
}

@media (max-width: 1024px) {
 .navpers{
  padding: 20px;
 }
}

.submenu {
  background-color: #FFFF;
  border: solid 1px #D8DBD0;
  padding: 20px;
  margin-right: 1px;
  margin-bottom: 16px;
  justify-content: space-between;
}

.botoes {
  display: flex;
  align-items: center;
}

.botoes-submenu {
  background: #FFFF;
  border: solid 1px black;
  padding: 10px;
  margin-left: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: relative;
  font-size: 1.4285714285714284rem;
  align-items: center;
  flex-shrink: 0;
  line-height: 1;
  user-select: none;
  border-radius: 50%;
  justify-content: center;
}

.leJgoN {
  box-sizing: border-box;
  background-color: #007bff;
  color: white;
  height: 40px;
  width: 40px;
}