{% extends "base.html" %}

{% block content %}

<div class="inicio jumbotron">
  <h1 class="display-4">Bem-vindo ao Sistema de Indicação de Imóveis</h1>
  <p class="lead">Esse é apenas o começo de grandes coisas que irão surgir em 2023!</p>
  <hr class="my-4">
  <p>Faça agora a sua indicação.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Indicar Imóvel</a>
  </p>
</div>

<div>
  {% if object_list %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Usuário</th>
          <th>Nome</th>
          <th>Sobrenome</th>
          <th>E-mail</th>
        </tr>
      </thead>
      <tbody>
        {% for object in object_list %}
          <tr>
            <td>{{ object.username }}</td>
            <td>{{ object.first_name }}</td>
            <td>{{ object.last_name }}</td>
            <td>{{ object.email }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p class="alert alert-warning">Sem imóveis cadastrados!</p>
  {% endif %}
</div>

{% endblock content %}